@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

:root {
  --main-background: url('https://helmiar527.my.id/private/index/public/img/bg/landing-page.png');
}

body {
  font-family: 'Josefin+Sans:wght@500', sans-serif;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.p-all {
  padding-top: 48.1vh;
  padding-bottom: 48.1vh;
}

.p-all-1 {
  padding-top: 36.075vh;
  padding-bottom: 36.075vh;
}

.p-all-2 {
  padding-top: 24.05vh;
  padding-bottom: 24.05vh;
}

.p-all-3 {
  padding-top: 12.025vh;
  padding-bottom: 12.025vh;
}

.vr {
  border: 2px black solid;
  height: 170px;
  width: 0px;
}

.bg-orange-500 {
  background-color: #ffd3ad;
}

.bg-yellow-500 {
  background-color: #7e8201;
}

.bg-orange-600 {
  background-color: #de8d23;
}

.landing-page-home {
  background-image: var(--main-background);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-all {
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-pg-1 {
  background: rgb(226,190,131);
  background: linear-gradient(90deg, rgba(226,190,131,1) 0%, rgba(255,68,0,1) 80%);
}

.bg-pg-2 {
  background: rgb(255,68,0);
  background: linear-gradient(90deg, rgba(255,68,0,1) 20%, rgba(226,190,131,1) 100%);
}

.hr-4 {
  margin: auto;
  width:  400px;
}

.m-l {
  margin-left: -10px;
}

.m-r {
  margin-right: -10px;
}

.row {
  padding: 0;
  margin: 0;
}

.pm-0 {
  padding: 0;
  margin: 0;
}

.hr-1 {
  border: 5px solid black;
}